.wrapper {
  position: relative;
  border: 1px solid black;
  border-top: none;
  padding: 0 10px;

  height: 40px;
}

.check {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.content {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px 0;
  color: #fff;

  position: absolute;
  left: 33px;
  right: 0;

  height: 100%;
}

.content:focus {
  background-color: #fff;
  color: #111;
}

.content:focus + .delBtn {
  z-index: -1;
}

.delBtn {
  cursor: pointer;
  color: #fff;
  display: none;
  margin-left: 10px;

  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.wrapper:hover .delBtn {
  display: block;
}

.completed {
  text-decoration: line-through;
  color: #333;
  font-style: italic;
}
